@use "globals.sass" as *
@use "sass:math"

$hero-image-height: calc(100vh - 140px)
$hero-image-height-mobile: calc(100vh - 160px)
$content-title-font-size: 10
$content-title-year-font-size: 6

#hero-image-container
    z-index: -1
    grid-area: main
    position: relative
    width: 100%
    height: $hero-image-height

#hero-image, #hero-image-red
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

#hero-image-red
    opacity: 0

#hero-window
    position: relative 
    height: $hero-image-height
    background-color: transparent

#content-title
    position: absolute
    display: flex
    flex-direction: column
    align-items: flex-end
    bottom: -30px
    right: 2%
    width: fit-content

#content-title-heading
    text-align: right

.content-title-text
    font-family: "IBM Plex Mono", monospace
    font-weight: 400
    font-style: italic
    margin: 0
    width: fit-content
    color: white
    white-space: pre
    text-align: right

.content-title-span
    background-color: black
    padding: 0.06em

@media (max-width: $mobile-width)
    #hero-image-container
        height: $hero-image-height-mobile
    
    #hero-window
        height: $hero-image-height-mobile

    #content-title-box
        bottom: -20px

    .content-title-text
        font-size: $content-title-font-size * 1vw
    
    .content-title-text-year
        font-size: $content-title-year-font-size * 1vw
    
    @media (min-aspect-ratio: $aspect-breakpoint-mobile)
        .content-title-text
            font-size: calc($content-title-font-size * 1vh * $aspect-breakpoint-mobile)
        
        .content-title-text-year
            font-size: calc($content-title-year-font-size * 1vh * $aspect-breakpoint-mobile)

@media (min-width: $mobile-width)
    .content-title-text
        font-size: $content-title-font-size * 1vh
    
    .content-title-text-year
        font-size: $content-title-year-font-size * 1vh

    @media (max-aspect-ratio: $aspect-breakpoint)
        .content-title-text
            font-size: calc($content-title-font-size * 1vw / $aspect-breakpoint)
        
        .content-title-text-year
            font-size: calc($content-title-year-font-size * 1vw / $aspect-breakpoint)
