<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{- $opts := dict "transpiler" "dartsass" "targetPath" "style.css" -}}
    {{- with resources.Get "style.sass" | toCSS $opts | minify -}}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{- end -}}
    {{- with resources.Get "jquery-3.7.1.min.js" -}}
    <script src="{{ .RelPermalink }}"></script>
    {{- end -}}
    <script>
      $(function() {
        $("#button-open-sidebar").on("click", function() {
          $("#base-wrapper").toggleClass("base-wrapper-shifted");
        })
      });
    </script>
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body>
    <div id="base-wrapper">
      <div id="base-grid">
        {{ partialCached "site-title.html" . }}
        {{ partialCached "ticker.html" . }}
        <div id="spacing-corner"></div>
        {{ partialCached "sidebar.html" . }}
        <div id="main">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </body>
</html>
