<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{ $opts := dict "transpiler" "dartsass" "targetPath" "style.css" }}
    {{- with resources.Get "style.sass" | toCSS $opts | minify -}}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{- end -}}
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body>
    {{ partialCached "title.html" . }}
    <div id="base">
      <div id="title-corner"></div>
      {{ partialCached "sidebar.html" . }}
      <div id="main">
        {{ block "main" . }}
        {{ end }}
      </div>
    </div>
  </body>
</html>
