{{- define "title" -}}
{{ .Title }} | {{ .Site.Title }}
{{- end -}}
{{- define "main" -}}
{{- $heroMode := isset .Params "hero" }}
{{- if $heroMode -}}
{{- with resources.Get "js/hero_scrolling.js" | minify -}}
<script src="{{ .RelPermalink }}" async></script>
{{- end -}}
{{- partial "hero-image.html" . }}
{{- end -}}
<article id="main">
    {{- if $heroMode -}}
    <div id="hero-window">
        {{- partial "content-title.html" . }}
    </div>
    {{- end -}}
    <div id="content-background" {{- if $heroMode -}}class="with-hero"{{- end -}}>
        <div id="content">
            {{- if not $heroMode -}}
            {{- partial "content-title.html" . -}}
            {{- end -}}
            {{ .Content }}
        </div>
    </div>
</article>
{{- end -}}