{{- define "title" -}}
{{ .Title }} | {{ .Site.Title }}
{{- end -}}
{{- define "main" -}}
{{- $redFilter := images.Colorize 4 70 100 -}}
<div id="hero-image-container">
    {{- with .Resources.Get .Params.hero -}}
    <img id="hero-image" src="{{ .RelPermalink }}">
    {{- with . | images.Filter $redFilter -}}
    <img id="hero-image-red" src="{{ .RelPermalink }}">
    {{- end -}}
    {{- end -}}
</div>
<div id="hero-window">
    <div id="content-title-box">
        {{- range .Params.titleFormat -}}
        <h2 class="content-title-text">{{ . }}</h2>
        {{- end -}}
    </div>
</div>
<div id="content-background">
    <div id="content">
        {{ .Content }}
    </div>
</div>
{{- end -}}