{{- define "title" -}}
{{ .Title }} | {{ .Site.Title }}
{{- end -}}
{{- define "main" -}}
{{- $heroImage := .Resources.Get .Params.hero -}}
<div id="hero-image-container">
    <img id="hero-image" src="{{ $heroImage.RelPermalink }}">
    <div id="hero-image-overlay"></div>
</div>
<div id="hero-window">
    {{/*  <div id="hero-gradient"></div>  */}}
    <div id="content-title-box">
        {{- range .Params.titleFormat -}}
        <h2 class="content-title-text">{{ . }}</h2>
        {{- end -}}
    </div>
</div>
<div id="content-background">
    <div id="content">
        {{ .Content }}
    </div>
</div>

{{- end -}}