---
import SiteSidebar from "@/components/site/SiteSidebar.astro";
import SiteTitle from "@/components/site/SiteTitle.astro";
---

<div class="grid h-dvh w-dvw grid-cols-[var(--sidebar-width)_1fr]">
  <SiteTitle />
  <SiteSidebar />
  <slot />
</div>
