<div class="pointer-events-none fixed top-4 left-4">
  <div class="absolute -z-10 flex h-full w-full">
    <div
      class="w-[calc(20px+var(--sidebar-width)-var(--site-title-left))] bg-black"
    >
    </div>
    <div
      class="shape-rendering-crisp flex-1 bg-[url(/noise-gradient.svg)] bg-size-[100%_auto] object-fill"
    >
    </div>
  </div>
  <img src="/menu.svg" class="hidden" />
  <header
    class="font-title pointer-events-auto py-2 pr-8 text-8xl font-bold whitespace-nowrap text-white select-none"
  >
    <a href="/">Ada Null</a>
  </header>
</div>
