@use "globals.sass" as *

#sidebar
    grid-area: sidebar
    padding: 5%
    overflow-x: hidden
    overflow-y: auto
    color: white
    background-color: black
    color: white
    font-family: "IBM Plex Mono"
    font-size: $sidebar-font-size

@media (max-width: $mobile-width)
    #sidebar
        z-index: 2
        padding: 1em
        font-size: $sidebar-font-size-mobile

.sidebar-header
    font-weight: 600

.sidebar-entry
    font-weight: 300

.sidebar-list
    list-style: square