@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;1,400&family=Quattrocento:wght@700&display=swap')

html, body
    margin: 0
    padding: 0
    height: 100%
 
p, li, h1, h2, h3, h4, h5, h6
    font-family: "IBM Plex Mono", monospace
    font-weight: 300
    font-style: normal
    
a:link
    text-decoration: none
    color: inherit
a:visited
    text-decoration: none
    color: inherit
a:hover
    text-decoration: none
    color: inherit
a:active
    text-decoration: none
    color: inherit

.project-link
    color: white

#base
    height: 100%
    display: grid
    grid-template-columns: 16% 1fr
    grid-template-rows: 20% 1fr
    grid-template-areas: "title main" "sidebar main"

#title
    grid-area: title
    margin: 0
    padding: 0.1em
    font-family: "Quattrocento", serif
    font-weight: 700
    font-style: normal
    font-size: 20vh
    white-space: nowrap
    overflow: visible
    background-color: black
    color: white

#sidebar
    grid-area: sidebar
    padding: 5px
    overflow-x: hidden
    overflow-y: auto
    color: white
    background-color: black

#content
    grid-area: main
    overflow-x: hidden
    overflow-y: auto
    padding: 5%