@use "sass:math"
@use "site-title.sass"
@use "ticker.sass"
@use "sidebar.sass"
@use "main.sass"
@use "globals.sass" as *
    
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,600;1,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=block&text=Ada%20Null')
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap')

html, body
    margin: 0
    padding: 0

body
    overflow: hidden
    font-family: "Libre Baskerville", serif
    font-weight: 400

a
    text-decoration: none 

a:link
    color: inherit

a:visited
    color: inherit

a:hover
    color: $red

a:active
    color: inherit

::selection
    color: white
    background: $red

#base-grid
    width: 100vw
    height: 100vh
    display: grid
    grid-template-columns: $sidebar-width 1fr
    grid-template-areas: "spacing-corner main" "sidebar main"

@media (max-width: $mobile-width)
    #base-wrapper
        position: fixed
        left: -$sidebar-width
        transition: left 0.3s ease-in-out

    #base-wrapper.base-wrapper-shifted
        left: 0vw

    #base-grid
        grid-template-columns: $sidebar-width 100vw
        grid-template-rows: $site-title-height-mobile 1fr

@media (min-width: $mobile-width + 1)
    @media (min-aspect-ratio: $aspect-breakpoint)
        #base-grid
            grid-template-rows: 25vh 1fr

    @media (max-aspect-ratio: $aspect-breakpoint)
        #base-grid
            grid-template-rows: calc(25vw / $aspect-breakpoint) 1fr

#spacing-corner
    grid-area: spacing-corner
    background-color: black