@use "sass:math"
@use "site-title.sass"
@use "ticker.sass"
@use "sidebar.sass"
@use "vars.sass" as *
    
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,600;1,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=block&text=Ada%20Null')
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap')

html, body
    margin: 0
    padding: 0

body
    overflow: hidden

p, li
    font-family: "Lora", serif
    font-weight: 300
    font-style: normal
    font-size: $paragraph-size

h2
    font-family: "IBM Plex Mono", monospace
    font-weight: 400
    font-style: italic
    font-size: $content-title-size

a
    text-decoration: none 

a:link
    color: inherit

a:visited
    color: inherit

a:hover
    color: $red

a:active
    color: inherit

::selection
    color: white
    background: $red

.sidebar-header, .sidebar-entry
    color: white
    font-family: "IBM Plex Mono"
    font-size: $sidebar-size

.sidebar-header
    font-weight: 600

.sidebar-entry
    font-weight: 300

.sidebar-list
    list-style: square

#base-grid
    width: 100vw
    height: 100vh
    display: grid
    grid-template-columns: $sidebar-width 1fr
    grid-template-areas: "spacing-corner main" "sidebar main"

@media (max-width: $mobile-width)
    #base-wrapper
        position: fixed
        left: -$sidebar-width
        transition: left 0.3s ease-in-out

    #base-wrapper.base-wrapper-shifted
        left: 0vw

    #base-grid
        grid-template-columns: $sidebar-width 100vw
        grid-template-rows: $site-title-height-mobile 1fr

@media (min-width: $mobile-width + 1)
    @media (min-aspect-ratio: $aspect-breakpoint)
        #base-grid
            grid-template-rows: 25vh 1fr

    @media (max-aspect-ratio: $aspect-breakpoint)
        #base-grid
            grid-template-rows: calc(25vw / $aspect-breakpoint) 1fr

#spacing-corner
    grid-area: spacing-corner
    background-color: black

#main
    grid-area: main
    overflow-y: scroll

#hero-container
    position: relative  
    height: 80%

#hero-image
    width: 100%
    height: 100%
    object-fit: cover

#content-title-box
    position: absolute
    display: flex
    flex-direction: column
    align-items: flex-end
    bottom: -3%
    right: 2%
    width: fit-content

#content-title-text
    background-color: #000
    margin: 0
    padding: 5pt
    width: fit-content
    color: #fff
    font-size: $content-title-size
    white-space: pre

#content
    padding: 3%