<nav id="sidebar">
    <a class="sidebar-link" href="/">About</a><br>
    {{- range where .Site.RegularPages "Section" "" -}}
    <a class="sidebar-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{- end -}}
    <p class="sidebar-header">Selected Projects</p>
    <ul class="sidebar-list">
        {{- $selectedPages := where .Site.RegularPages "Params.selected" true -}}
        {{- range sort $selectedPages "Params.release" "desc" -}}
        <li class="sidebar-entry"><a href="{{ .RelPermalink }}">{{ .LinkTitle }} ({{ .Params.year }})</a></li>
        {{- end -}}
    </ul>
    <p class="sidebar-header">Archive</p>
    {{- range (where .Site.RegularPages "Section" "projects").GroupByParamDate "release" "2006" "desc" -}}
    <p class="sidebar-subheader">{{ .Key }}</p>
    <ul class="sidebar-list">
        {{- range .Pages -}}
        <li class="sidebar-entry"><a class="sidebar-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{- end -}}
    </ul>
    {{- end -}}
</nav>