<nav id="sidebar">
    <p class="sidebar-header">Selected Projects</p>
    <ul class="sidebar-list">
        {{- $selectedPages := where .Site.RegularPages "Params.selected" true -}}
        {{- range sort $selectedPages "Params.release" "desc" -}}
        <li class="sidebar-entry"><a href="{{ .RelPermalink }}">{{ .LinkTitle }} <em>({{ .Params.year }})</em></a></li>
        {{- end -}}
    </ul>
    <p class="sidebar-header">Archive</p>
    {{- range .Site.RegularPages.GroupByParamDate "release" "2006" "desc" -}}
    <p class="sidebar-subheader">{{ .Key }}</p>
    <ul class="sidebar-list">
        {{- range .Pages -}}
        <li class="sidebar-entry"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{- end -}}
    </ul>
    {{- end -}}
</nav>