{{ $text := "ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * ticker text * "}}
<div id="ticker">
    <p id="ticker-text">{{ $text }}</p>
    <p id="ticker-text">{{ $text }}</p>
</div>