---
import SiteGrid from "@/components/site/SiteGrid.astro";
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ada Null</title>
  </head>
  <body>
    <SiteGrid><slot /></SiteGrid>
  </body>
</html>
